<div id="main-container">
	<div class="header">
		<h1>Estimate My App</h1>
		<p>By Kiko</p>
	</div>
	<div class="intro">
		<h3>Select the items below which best describe your app and the features you require.</h3>
		<p>All estimates are approximate but should give you a rough idea of what it will take to build your app.</p>
	</div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs toptab" role="tablist">
		<li role="presentation" class="active">
			<a href="#web" aria-controls="web" class="web" role="tab" data-toggle="tab">
				<div class="toptabheader">
					<i class="fa fa-desktop fa-fw"></i>
					<h3> Web</h3>
				</div>
				<div class="toptabdescription">
					<p>A web app or a
						<br>
						back-end to a mobile app
					</p>
				</div>
			</a>
		</li>
		<li role="presentation">
			<a href="#ios" aria-controls="ios" class="ios" role="tab" data-toggle="tab">
				<div class="toptabheader">
					<i class="fa fa-apple fa-fw"></i>
					<h3>iOS</h3>
				</div>
				<div class="toptabdescription">
					<p>An iPhone/ iPad app <br> (Excluding back-end)</p>
				</div>
			</a>
		</li>
		<li role="presentation">
			<a href="#android" aria-controls="android" class="android" role="tab" data-toggle="tab">
				<div class="toptabheader">
					<i class="fa fa-android fa-fw"></i>
					<h3 class="tabtitle">Android</h3>
				</div>
				<div class="toptabdescription">
					<p>An Android Phone/Tablet app <br> (Excluding back-end)</p>
				</div>
			</a>
		</li>
	</ul>
	
	<!-- Tab Content panes -->
	<div class="tab-content">

		<!-- Web section -->
		<div role="tabpanel" class="tab-pane active web" id="web">
			
			<!-- WEB Size -->
			<div class="feature-container">
				<div class="featureheader ">
					<h1>1. How big is your app?</h1>
				</div>

				<div class="row">
					<% @sizes.each do |size| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature size">
						<!-- <div class="size-item-mobile">
							<%#= link_to image_tag(size.image_url, :class => "feature-image img-circle mobile-img"), '#',  :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div> -->
						
						<div class="featurecontent">
							<h4 class="feature-title"> <%= size.title %> </h4>
							<p class="mobile-description"> <%= size.description %></p>
						</div>

						<div class="size-item" data-toggle="popover" data-content="<%= size.description %>">
							<%= link_to image_tag(size.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- WEB UI Level -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>2. What level of UI would you like?</h1>
				</div>
				<div class="row">
					<% @uifeatures.each do |uifeature| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= uifeature.title %> </h4>
							<p class="mobile-description"> <%= uifeature.description %></p>
						</div>

						<div class="uilevel-item" data-toggle="popover" data-content="<%= uifeature.description %>">
							<%= link_to image_tag(uifeature.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- WEB User and Accounts -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>3. Users & Accounts</h1>
				</div>
				<div class="row">
					<% @accounts.each do |account| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature account">
						<div class="featurecontent">	
							<h4 class="feature-title"> <%= account.title %> </h4>
							<p class="mobile-description"> <%= account.description %></p>
						</div>

						<div class="account-item" data-toggle="popover" data-content="<%= account.description %>">
							<%= link_to image_tag(account.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>


			<!-- WEB User generated content -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>4. User Generated Content</h1>
				</div>
				<div class="row">
					<% @ugcontents.each do |ugcontent| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature ugcontent">
						<div class="featurecontent">
							<h4 class="feature-title"> <%= ugcontent.title %> </h4>
							<p class="mobile-description"> <%= ugcontent.description %></p>
						</div>

						<div class="ugcontent-item" data-toggle="popover" data-content="<%= ugcontent.description %>">
							<%= link_to image_tag(ugcontent.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Dates & Locations -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>5. Dates & Locations</h1>
				</div>
				<div class="row">
					<% @locations.each do |location| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature location">
						<div class="featurecontent">
							<h4 class="feature-title"> <%= location.title %> </h4>
							<p class="mobile-description"> <%= location.description %></p>
						</div>

						<div class="location-item" data-toggle="popover" data-content="<%= location.description %>">
							<%= link_to image_tag(location.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Social and Engagement -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>6. Social & Engagement</h1>
				</div>
				<div class="row">
					<% @socials.each do |social| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature social">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= social.title %> </h4>
							<p class="mobile-description"> <%= social.description %></p>
						</div>

						<div class="social-item" data-toggle="popover" data-content="<%= social.description %>">
							<%= link_to image_tag(social.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Billing & eCommerce -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>7. Billing & eCommerce</h1>
				</div>
				<div class="row">
					<% @billings.each do |billing| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature billing">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= billing.title %> </h4>
							<p class="mobile-description"> <%= billing.description %></p>
						</div>

						<div class="billing-item" data-toggle="popover" data-content="<%= billing.description %>">
							<%= link_to image_tag(billing.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Admin, Feedback & Analytics -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>8. Admin, Feedback & Analytics</h1>
				</div>
				<div class="row">
					<% @analytics.each do |analytic| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature analytics">
						<div class="featurecontent">	
							<h4 class="feature-title"> <%= analytic.title %> </h4>
							<p class="mobile-description"> <%= analytic.description %></p>
						</div>

						<div class="analytic-item" data-toggle="popover" data-content="<%= analytic.description %>">
							<%= link_to image_tag(analytic.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{analytic.price}, '#{analytic.name}', #{analytic.developer_days}, #{analytic.designer_days}, #{analytic.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web External APIs and Integrations -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>9. External APIs and Integrations</h1>
				</div>
				<div class="row">
					<% @integrations.each do |integration| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature integration">

						<div class="featurecontent">
							<h4 class="feature-title"> <%= integration.title %> </h4>
							<p class="mobile-description"> <%= integration.description %></p>
						</div>

						<div class="integration-item" data-toggle="popover" data-content="<%= integration.description %>">
							<%= link_to image_tag(integration.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{integration.price}, '#{integration.name}', #{integration.developer_days}, #{integration.designer_days}, #{integration.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Security -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>10. Security</h1>
				</div>
				<div class="row">
					<% @securities.each do |security| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature security">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= security.title %> </h4>
							<p class="mobile-description"> <%= security.description %></p>
						</div>

						<div class="security-item" data-toggle="popover" data-content="<%= security.description %>">
							<%= link_to image_tag(security.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{security.price}, '#{security.name}', #{security.developer_days}, #{security.designer_days}, #{security.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

		</div>
		<!--  END WEB SECTION -->

		<!-- iOS Section -->
		<div role="tabpanel" class="tab-pane ios" id="ios">
			<!-- IOS Size -->
			<div class="feature-container">
				<div class="featureheader ">
					<h1>1. How big is your app?</h1>
				</div>

				<div class="row">
					<% @sizes.each do |size| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature size">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= size.title %> </h4>
							<p class="mobile-description"> <%= size.description %></p>
						</div>

						<div class="size-item" data-toggle="popover" data-content="<%= size.description %>">
							<%= link_to image_tag(size.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS UI Level -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>2. What level of UI would you like?</h1>
				</div>
				<div class="row">
					<% @uifeatures.each do |uifeature| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= uifeature.title %> </h4>
							<p class="mobile-description"> <%= uifeature.description %></p>
						</div>
						
						<div class="uilevel-item" data-toggle="popover" data-content="<%= uifeature.description %>">
							<%= link_to image_tag(uifeature.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS User and Accounts -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>3. Users & Accounts</h1>
				</div>
				<div class="row">
					<% @accounts.each do |account| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature account">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= account.title %> </h4>
							<p class="mobile-description"> <%= account.description %></p>
						</div>

						<div class="account-item" data-toggle="popover" data-content="<%= account.description %>">
							<%= link_to image_tag(account.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS User Generated Content -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>4. User Generated Content</h1>
				</div>
				<div class="row">
					<% @ugcontents.each do |ugcontent| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature ugcontent">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= ugcontent.title %> </h4>
							<p class="mobile-description"> <%= ugcontent.description %></p>
						</div>

						<div class="ugcontent-item" data-toggle="popover" data-content="<%= ugcontent.description %>">
							<%= link_to image_tag(ugcontent.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS Dates and Location -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>5. Dates & Locations</h1>
				</div>
				<div class="row">
					<% @locations.each do |location| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature location">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= location.title %> </h4>
							<p class="mobile-description"> <%= location.description %></p>
						</div>

						<div class="location-item" data-toggle="popover" data-content="<%= location.description %>">
							<%= link_to image_tag(location.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Ios Social and Engagement -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>6. Social & Engagement</h1>
				</div>
				<div class="row">
					<% @socials.each do |social| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature social">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= social.title %> </h4>
							<p class="mobile-description"> <%= social.description %></p>
						</div>

						<div class="social-item" data-toggle="popover" data-content="<%= social.description %>">
							<%= link_to image_tag(social.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Ios Billing & eCommerce -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>7. Billing & eCommerce</h1>
				</div>
				<div class="row">
					<% @billings.each do |billing| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature billing">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= billing.title %> </h4>
							<p class="mobile-description"> <%= billing.description %></p>
						</div>

						<div class="billing-item" data-toggle="popover" data-content="<%= billing.description %>">
							<%= link_to image_tag(billing.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS Admin, Feedback & Analytics -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>8. Admin, Feedback & Analytics</h1>
				</div>
				<div class="row">
					<% @analytics.each do |analytic| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature analytics">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= analytic.title %> </h4>
							<p class="mobile-description"> <%= analytic.description %></p>
						</div>

						<div class="analytic-item" data-toggle="popover" data-content="<%= analytic.description %>">
							<%= link_to image_tag(analytic.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{analytic.price}, '#{analytic.name}', #{analytic.developer_days}, #{analytic.designer_days}, #{analytic.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Ios External APIs and Integrations -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>9. External APIs and Integrations</h1>
				</div>
				<div class="row">
					<% @integrations.each do |integration| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature integration">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= integration.title %> </h4>
							<p class="mobile-description"> <%= integration.description %></p>
						</div>

						<div class="integration-item" data-toggle="popover" data-content="<%= integration.description %>">
							<%= link_to image_tag(integration.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{integration.price}, '#{integration.name}', #{integration.developer_days}, #{integration.designer_days}, #{integration.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Ios Security -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>10. Security</h1>
				</div>
				<div class="row">
					<% @securities.each do |security| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature security">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= security.title %> </h4>
							<p class="mobile-description"> <%= security.description %></p>
						</div>

						<div class="security-item" data-toggle="popover" data-content="<%= security.description %>">
							<%= link_to image_tag(security.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{security.price}, '#{security.name}', #{security.developer_days}, #{security.designer_days}, #{security.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>


		</div>
		<!-- END IOS SECTION -->


		<!-- Android Section -->

		<div role="tabpanel" class="tab-pane android" id="android">

			<!-- Android Size -->
			<div class="feature-container">
				<div class="featureheader ">
					<h1>1. How big is your app?</h1>
				</div>

				<div class="row">
					<% @sizes.each do |size| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature size">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= size.title %> </h4>
							<p class="mobile-description"> <%= size.description %></p>
						</div>

						<div class="size-item" data-toggle="popover" data-content="<%= size.description %>">
							<%= link_to image_tag(size.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android UI Level -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>2. What level of UI would you like?</h1>
				</div>
				<div class="row">
					<% @uifeatures.each do |uifeature| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= uifeature.title %> </h4>
							<p class="mobile-description"> <%= uifeature.description %></p>
						</div>

						<div class="uilevel-item" data-toggle="popover" data-content="<%= uifeature.description %>">
							<%= link_to image_tag(uifeature.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android User and Accounts -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>3. Users & Accounts</h1>
				</div>
				<div class="row">
					<% @accounts.each do |account| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature account">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= account.title %> </h4>
							<p class="mobile-description"> <%= account.description %></p>
						</div>

						<div class="account-item" data-toggle="popover" data-content="<%= account.description %>">
							<%= link_to image_tag(account.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>


			<!-- Android User Generated content -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>4. User Generated Content</h1>
				</div>
				<div class="row">
					<% @ugcontents.each do |ugcontent| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature ugcontent">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= ugcontent.title %> </h4>
							<p class="mobile-description"> <%= ugcontent.description %></p>
						</div>

						<div class="ugcontent-item" data-toggle="popover" data-content="<%= ugcontent.description %>">
							<%= link_to image_tag(ugcontent.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Dates and Location -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>5. Dates & Locations</h1>
				</div>
				<div class="row">
					<% @locations.each do |location| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature location">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= location.title %> </h4>
							<p class="mobile-description"> <%= location.description %></p>
						</div>

						<div class="location-item" data-toggle="popover" data-content="<%= location.description %>">
							<%= link_to image_tag(location.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Social and Engagement -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>6. Social & Engagement</h1>
				</div>
				<div class="row">
					<% @socials.each do |social| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature social">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= social.title %> </h4>
							<p class="mobile-description"> <%= social.description %></p>
						</div>

						<div class="social-item" data-toggle="popover" data-content="<%= social.description %>">
							<%= link_to image_tag(social.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Billing & eCommerce -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>7. Billing & eCommerce</h1>
				</div>
				<div class="row">
					<% @billings.each do |billing| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature billing">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= billing.title %> </h4>
							<p class="mobile-description"> <%= billing.description %></p>
						</div>

						<div class="billing-item" data-toggle="popover" data-content="<%= billing.description %>">
							<%= link_to image_tag(billing.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Admin, Feedback & Analytics -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>8. Admin, Feedback & Analytics</h1>
				</div>
				<div class="row">
					<% @analytics.each do |analytic| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature analytics">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= analytic.title %> </h4>
							<p class="mobile-description"> <%= analytic.description %></p>
						</div>

						<div class="analytic-item" data-toggle="popover" data-content="<%= analytic.description %>">
							<%= link_to image_tag(analytic.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{analytic.price}, '#{analytic.name}', #{analytic.developer_days}, #{analytic.designer_days}, #{analytic.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android External APIs and Integrations -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>9. External APIs and Integrations</h1>
				</div>
				<div class="row">
					<% @integrations.each do |integration| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature integration">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= integration.title %> </h4>
							<p class="mobile-description"> <%= integration.description %></p>
						</div>

						<div class="integration-item" data-toggle="popover" data-content="<%= integration.description %>">
							<%= link_to image_tag(integration.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{integration.price}, '#{integration.name}', #{integration.developer_days}, #{integration.designer_days}, #{integration.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Security -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>10. Security</h1>
				</div>
				<div class="row">
					<% @securities.each do |security| %>
					<div class="col-xs-12 col-sm-12 col-md-3 feature security">

						<div class="featurecontent">	
							<h4 class="feature-title"> <%= security.title %> </h4>
							<p class="mobile-description"> <%= security.description %></p>
						</div>

						<div class="security-item" data-toggle="popover" data-content="<%= security.description %>">
							<%= link_to image_tag(security.image_url, :class => "feature-image img-circle"), '#', :onclick => "updateTotal(#{security.price}, '#{security.name}', #{security.developer_days}, #{security.designer_days}, #{security.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

		</div>
		<!-- END ANDROID SECTION -->
	</div>
	<!-- END Tab CONTENT Pane -->

	<ul class="nav nav-tabs nav-bottom" role="tablist">
		<li role="presentation" class="active">

			<a href="#web" aria-controls="web" class="bottom-web" role="tab" data-toggle="tab">

				<div class="web-bottom-tab">
					<div class="bottomtabheader">
						<i class="fa fa-desktop fa-2x"></i> <br>
						<h3>Need a Web App?</h3>
					</div>
					<div class="bottomtabdescription">
						<p>(or a back-end to your mobile app)<p>
					</div>
				</div>

					<div class="web-bottom-tab-info">
						<div class="bottomtabheader">
							<h4>
								<i class="fa fa-desktop fa-fw"></i>
								Web App
							</h4>
						</div>
						<hr>
						<div class="bottomtabdescription">
							<p><span class="designer-days-web">0</span> Designer Days</p>
							<p><span class="developer-days-web">0</span> Developer Days</p>
							<p>$<span class="total-price-web">0</span></p>
						</div>
					</div>
				</a>
			</li>

			<li role="presentation">
				<a href="#ios" aria-controls="ios" class="bottom-ios" role="tab" data-toggle="tab">


					<div class="ios-bottom-tab">
						<div class="bottomtabheader">
							<i class="fa fa-apple fa-2x"></i> <br>
							<h3>Need an IOS App?</h3>
						</div>
					</div>

					<div class="ios-bottom-tab-info">
						<div class="bottomtabheader">
							<h4>
								<i class="fa fa-desktop fa-fw"></i>
								IOS App
							</h4>
						</div>
						<hr>
						<div class="bottomtabdescription">
							<p><span class="designer-days-ios">0</span> Designer Days</p>
							<p><span class="developer-days-ios">0</span> Developer Days</p>
							<p>$<span class="total-price-ios">0</span></p>
						</div>
					</div>
				</a>
			</li>

			<li role="presentation">
				<a href="#android" aria-controls="android" class="bottom-android" role="tab" data-toggle="tab">

					<div class="android-bottom-tab">
						<div class="bottomtabheader">
							<i class="fa fa-android fa-2x"></i><br>
							<h3>Need an Android App?</h3>
						</div>
					</div>

					<div class="android-bottom-tab-info">
						<div class="bottomtabheader">
							<h4>
								<i class="fa fa-desktop fa-fw"></i>
								Android App
							</h4>
						</div>
						<hr>
						<div class="bottomtabdescription">
							<p><span class="designer-days-android">0</span> Designer Days</p>
							<p><span class="developer-days-android">0</span> Developer Days</p>
							<p>$<span class="total-price-android">0</span></p>
						</div>
					</div>
				</a>
			</li>
		</ul>

		<ul class="nav nav-tabs nav-bottomicon" role="tablist">
			<li role="presentation" class="active">
				<a href="#web" aria-controls="web" class="web" role="tab" data-toggle="tab">
					<div class="bottomtabheader">
						<i class="fa fa-desktop fa-2x"></i> <br>
					</div>
				</a>
			</li>
			<li role="presentation">
				<a href="#ios" aria-controls="ios" class="ios" role="tab" data-toggle="tab">
					<div class="bottomtabheader">
						<i class="fa fa-apple fa-2x"></i><br>
					</div>
				</a>
			</li>
			<li role="presentation">
				<a href="#android" aria-controls="android" class="android" role="tab" data-toggle="tab">
					<div class="bottomtabheader">
						<i class="fa fa-android fa-2x"></i>
					</div>
				</a>
			</li>
		</ul>

		<!-- Total cost and disclaimer section -->
		<div class="total-container">
			<p class="total-cost"> Total Cost: $<span class="total">0</span> </p>
			<p>Based on Kiko rates.</p>
			<p class="disclaimer">Please note, all cost estimates are intended to be indicative of development costs and timescales only and are exclusive of all hosting costs, paid services or purchased assets of any kind. All prices are in USD and inclusive of sales tax.</p>
		</div>

		<footer>
			<img style="float: left;"src="http://www.digitivinc.com/assets/img//logo/headlogo.png" alt="">
			<p style="float: right;">© 2016 Digitiv Inc</p>
		</footer>

	</div>

