<div id="main-container">
	<div class="header">
		<h1>Estimate My App</h1>
		<p>By Kiko</p>
	</div>
	<div class="intro">
		<h3>Select the items below which best describe your app and the features you require.</h3>
		<p>All estimates are approximate but should give you a rough idea of what it will take to build your app.</p>
	</div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs toptab" role="tablist">
		<li role="presentation" class="active">
			<a href="#web" aria-controls="web" class="web" role="tab" data-toggle="tab">
				<div class="toptabheader">
					<i class="fa fa-desktop fa-fw"></i>
					<h3> Web</h3>
				</div>
				<div class="toptabdescription">
					<p>A web app or a
						<br>
						back-end to a mobile app
					</p>
				</div>
			</a>
		</li>
		<li role="presentation">
			<a href="#ios" aria-controls="ios" class="ios" role="tab" data-toggle="tab">
				<div class="toptabheader">
					<i class="fa fa-apple fa-fw"></i>
					<h3>iOS</h3>
				</div>
				<div class="toptabdescription">
					<p>An iPhone/ iPad app <br> (Excluding back-end)</p>
				</div>
			</a>
		</li>
		<li role="presentation">
			<a href="#android" aria-controls="android" class="android" role="tab" data-toggle="tab">
				<div class="toptabheader">
					<i class="fa fa-android fa-fw"></i>
					<h3 class="tabtitle">Android</h3>
				</div>
				<div class="toptabdescription">
					<p>An Android Phone/Tablet app <br> (Excluding back-end)</p>
				</div>
			</a>
		</li>
	</ul>
	
	<!-- Tab Content panes -->
	<div class="tab-content">

		<!-- Web section -->
		<div role="tabpanel" class="tab-pane active web" id="web">
			
			<!-- WEB Size -->
			<div class="feature-container">
				<div class="featureheader ">
					<h1>1. How big is your app?</h1>
				</div>

				<div class="row">
					<% @sizes.each do |size| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature size">
						<%= link_to image_tag(size.image_url, :id => "#{size.id}", :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						<div class="featurecontent">	
							<p> <%= size.title %> </p>
							<p class="mobile-p"> <%= size.title %></p>
						</div>

						<div class="size">
							<%= link_to image_tag(size.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{size.description}", :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- WEB UI Level -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>2. What level of UI would you like?</h1>
				</div>
				<div class="row">
					<% @uifeatures.each do |uifeature| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">
						<%= link_to image_tag(uifeature.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= uifeature.title %> </p>
						</div>
						<div class="uilevel">
							<%= link_to image_tag(uifeature.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{uifeature.description}", :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- WEB User and Accounts -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>3. Users & Accounts</h1>
				</div>
				<div class="row">
					<% @accounts.each do |account| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature account">
						<%= link_to image_tag(account.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= account.title %> </p>
						</div>
						<div class="account">
							<%= link_to image_tag(account.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{account.description}", :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>


			<!-- WEB User generated content -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>4. User Generated Content</h1>
				</div>
				<div class="row">
					<% @ugcontents.each do |ugcontent| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature ugcontent">
						<%= link_to image_tag(ugcontent.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= ugcontent.title %> </p>
						</div>
						<div class="ugcontent">
							<%= link_to image_tag(ugcontent.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{ugcontent.description}", :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Dates & Locations -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>5. Dates & Locations</h1>
				</div>
				<div class="row">
					<% @locations.each do |location| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature location">
						<%= link_to image_tag(location.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= location.title %> </p>
						</div>
						<div class="location">
							<%= link_to image_tag(location.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{location.description}", :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Social and Engagement -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>6. Social & Engagement</h1>
				</div>
				<div class="row">
					<% @socials.each do |social| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature social">
						<%= link_to image_tag(social.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= social.title %> </p>
						</div>
						<div class="social">
							<%= link_to image_tag(social.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{social.description}", :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Web Billing & eCommerce -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>7. Billing & eCommerce</h1>
				</div>
				<div class="row">
					<% @billings.each do |billing| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature billing">
						<%= link_to image_tag(billing.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= billing.title %> </p>
						</div>
						<div class="billing">
							<%= link_to image_tag(billing.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{billing.description}", :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

		</div>
		<!--  END WEB SECTION -->

		<!-- iOS Section -->
		<div role="tabpanel" class="tab-pane ios" id="ios">
			<!-- IOS Size -->
			<div class="feature-container">
				<div class="featureheader ">
					<h1>1. How big is your app?</h1>
				</div>

				<div class="row">
					<% @sizes.each do |size| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature size">
						<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png", :id => "#{size.id}", :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						
						<div class="featurecontent"> 
							<p> <%= size.title %> </p>
							<p class="mobile-p"> <%= size.title %></p>
						</div>

						<div class="size">
							<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png", :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{size.description}", :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS UI Level -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>2. What level of UI would you like?</h1>
				</div>
				<div class="row">
					<% @accounts.each do |uifeature| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">
						<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/mvp@2x-9434764c1bc0fbfb2a3eff18f45ceb107951a46993b4cd446d6702078a1bcb89.png", :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= uifeature.title %> </p>
						</div>
						
						<div class="uilevel">
							<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/mvp@2x-9434764c1bc0fbfb2a3eff18f45ceb107951a46993b4cd446d6702078a1bcb89.png", :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{uifeature.description}", :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS User and Accounts -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>3. Users & Accounts</h1>
				</div>
				<div class="row">
					<% @accounts.each do |account| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">
						<%= link_to image_tag(account.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= account.title %> </p>
						</div>
						<div class="uilevel">
							<%= link_to image_tag(account.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{account.description}", :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS User Generated Content -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>4. User Generated Content</h1>
				</div>
				<div class="row">
					<% @ugcontents.each do |ugcontent| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature ugcontent">
						<%= link_to image_tag(ugcontent.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= ugcontent.title %> </p>
						</div>
						<div class="ugcontent">
							<%= link_to image_tag(ugcontent.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{ugcontent.description}", :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- IOS Dates and Location -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>5. Dates & Locations</h1>
				</div>
				<div class="row">
					<% @locations.each do |location| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature location">
						<%= link_to image_tag(location.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= location.title %> </p>
						</div>
						<div class="location">
							<%= link_to image_tag(location.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{location.description}", :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Ios Social and Engagement -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>6. Social & Engagement</h1>
				</div>
				<div class="row">
					<% @socials.each do |social| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature social">
						<%= link_to image_tag(social.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= social.title %> </p>
						</div>
						<div class="social">
							<%= link_to image_tag(social.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{social.description}", :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Ios Billing & eCommerce -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>7. Billing & eCommerce</h1>
				</div>
				<div class="row">
					<% @billings.each do |billing| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature billing">
						<%= link_to image_tag(billing.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= billing.title %> </p>
						</div>
						<div class="billing">
							<%= link_to image_tag(billing.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{billing.description}", :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>


		</div>
		<!-- END IOS SECTION -->


		<!-- Android Section -->

		<div role="tabpanel" class="tab-pane android" id="android">

			<!-- Android Size -->
			<div class="feature-container">
				<div class="featureheader ">
					<h1>1. How big is your app?</h1>
				</div>

				<div class="row">
					<% @sizes.each do |size| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature size">
						<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png", :id => "#{size.id}", :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						
						<div class="featurecontent"> 
							<p> <%= size.title %> </p>
							<p class="mobile-p"> <%= size.title %></p>
						</div>

						<div class="size">
							<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/small@2x-d58c5d533621f5fe7ffd8f4cbdd556ebdb723639c371de1570405064fd0ade61.png", :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{size.description}", :onclick => "updateTotal(#{size.price}, '#{size.name}', #{size.developer_days}, #{size.designer_days}, #{size.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android UI Level -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>2. What level of UI would you like?</h1>
				</div>
				<div class="row">
					<% @uifeatures.each do |uifeature| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">
						<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/mvp@2x-9434764c1bc0fbfb2a3eff18f45ceb107951a46993b4cd446d6702078a1bcb89.png", :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= uifeature.title %> </p>
						</div>

						<div class="uilevel">
							<%= link_to image_tag("https://d3h99m5mv5zvgz.cloudfront.net/assets/mvp@2x-9434764c1bc0fbfb2a3eff18f45ceb107951a46993b4cd446d6702078a1bcb89.png", :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{uifeature.description}", :onclick => "updateTotal(#{uifeature.price}, '#{uifeature.name}', #{uifeature.developer_days}, #{uifeature.designer_days}, #{uifeature.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android User and Accounts -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>3. Users & Accounts</h1>
				</div>
				<div class="row">
					<% @accounts.each do |account| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature uilevel">
						<%= link_to image_tag(account.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= account.title %> </p>
						</div>
						<div class="uilevel">
							<%= link_to image_tag(account.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{account.description}", :onclick => "updateTotal(#{account.price}, '#{account.name}', #{account.developer_days}, #{account.designer_days}, #{account.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>


			<!-- Android User Generated content -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>4. User Generated Content</h1>
				</div>
				<div class="row">
					<% @ugcontents.each do |ugcontent| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature ugcontent">
						<%= link_to image_tag(ugcontent.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= ugcontent.title %> </p>
						</div>
						<div class="ugcontent">
							<%= link_to image_tag(ugcontent.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{ugcontent.description}", :onclick => "updateTotal(#{ugcontent.price}, '#{ugcontent.name}', #{ugcontent.developer_days}, #{ugcontent.designer_days}, #{ugcontent.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Dates and Location -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>5. Dates & Locations</h1>
				</div>
				<div class="row">
					<% @locations.each do |location| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature location">
						<%= link_to image_tag(location.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= location.title %> </p>
						</div>
						<div class="location">
							<%= link_to image_tag(location.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{location.description}", :onclick => "updateTotal(#{location.price}, '#{location.name}', #{location.developer_days}, #{location.designer_days}, #{location.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Social and Engagement -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>6. Social & Engagement</h1>
				</div>
				<div class="row">
					<% @socials.each do |social| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature social">
						<%= link_to image_tag(social.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= social.title %> </p>
						</div>
						<div class="social">
							<%= link_to image_tag(social.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{social.description}", :onclick => "updateTotal(#{social.price}, '#{social.name}', #{social.developer_days}, #{social.designer_days}, #{social.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- Android Billing & eCommerce -->
			<div class="feature-container">
				<div class="featureheader">
					<h1>7. Billing & eCommerce</h1>
				</div>
				<div class="row">
					<% @billings.each do |billing| %>
					<div class="col-xs-12 col-sm-12 col-md-4 feature billing">
						<%= link_to image_tag(billing.image_url, :class => "img-circle mobile-img"), '#', :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>

						<div class="featurecontent">
							<p class="sectiontitle"> <%= billing.title %> </p>
						</div>
						<div class="billing">
							<%= link_to image_tag(billing.image_url, :class => "img-circle desktop-img"), '#','data-toggle' => 'popover', 'data-content' => "#{billing.description}", :onclick => "updateTotal(#{billing.price}, '#{billing.name}', #{billing.developer_days}, #{billing.designer_days}, #{billing.id}, this)" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

		</div>
		<!-- END ANDROID SECTION -->
	</div>
	<!-- END Tab CONTENT Pane -->

	<ul class="nav nav-tabs nav-bottom" role="tablist">
		<li role="presentation" class="active">

			<a href="#web" aria-controls="web" class="bottom-web" role="tab" data-toggle="tab">
				<div class="bottom-nav-content">
					<div class="bottomtabheader">
						<i class="fa fa-desktop fa-2x"></i> <br>
						<h3>Need a Web App?</h3>
					</div>
					<div class="bottomtabdescription">
						<p>(or a back-end to your mobile app)<p>
						</div>
					</div>
				</a>
				<a class="web bottom-web-after">
					<div class="bottom-nav-content-after">
						<div class="bottomtabheader">
							<h4>
								<i class="fa fa-desktop fa-fw"></i>
								Web App</h4>
							</div>
							<hr>
							<div class="bottomtabdescription">
								<p><span class="designer-days-web">0</span> Designer Days</p>
								<p><span class="developer-days-web">0</span> Developer Days</p>
								<p>$<span class="total-price-web">0</span></p>
							</div>
						</div>
					</a>

				</li>

				<li role="presentation">
					<a href="#ios" aria-controls="ios" class="bottom-ios" role="tab" data-toggle="tab">
						<div class="bottomtabheader">
							<i class="fa fa-apple fa-2x"></i><br>
							<h3>Need an IOS App?</h3>
						</div>
					</a>
					<a class="ios bottom-ios-after">
						<div class="bottom-nav-content-after">
							<div class="bottomtabheader">
								<h4>
									<i class="fa fa-desktop fa-fw"></i>
									IOS App</h4>
								</div>
								<hr>
								<div class="bottomtabdescription">
									<p> <span class="designer-days-ios">0</span> Designer Days</p>
									<p> <span class="developer-days-ios">0</span> Developer Days</p>
									<p>$<span class="total-price-ios">0</span></p>
								</div>
							</div>
						</a>
					</li>
					<li role="presentation">
						<a href="#android" aria-controls="android" class="bottom-android" role="tab" data-toggle="tab">
							<div class="bottomtabheader">
								<i class="fa fa-android fa-2x"></i><br>
								<h3>Need an Android App?</h3>
							</div>
						</a>

						<a class="android bottom-android-after">
							<div class="bottom-nav-content-after">
								<div class="bottomtabheader">
									<h4>
										<i class="fa fa-desktop fa-fw"></i>
										Android App</h4>
									</div>
									<hr>
									<div class="bottomtabdescription">
										<p><span class="designer-days-android">0</span> Designer Days</p>
										<p><span class="developer-days-android">0</span> Developer Days</p>
										<p>$<span class="total-price-android">0</span></p>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<ul class="nav nav-tabs nav-bottomicon" role="tablist">
						<li role="presentation" class="active">
							<a href="#web" aria-controls="web" class="web" role="tab" data-toggle="tab">
								<div class="bottomtabheader">
									<i class="fa fa-desktop fa-2x"></i> <br>
								</div>
							</a>
						</li>
						<li role="presentation">
							<a href="#ios" aria-controls="ios" class="ios" role="tab" data-toggle="tab">
								<div class="bottomtabheader">
									<i class="fa fa-apple fa-2x"></i><br>
								</div>
							</a>
						</li>
						<li role="presentation">
							<a href="#android" aria-controls="android" class="android" role="tab" data-toggle="tab">
								<div class="bottomtabheader">
									<i class="fa fa-android fa-2x"></i>
								</div>
							</a>
						</li>
					</ul>
					<div class="totalcost">
						Total Cost: $<p style="color:black; display: inline;" class="total">0</p>
						<p>Based on Kiko rates.</p>
						<i>Please note, all cost estimates are intended to be indicative of development costs and timescales only and are exclusive of all hosting costs, paid services or purchased assets of any kind. All prices are in USD and inclusive of sales tax.</i>
					</div>
				</div>

